.parent-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-cover {
    display: flex;
    flex-direction: row;
    background-color: var(--main-bg);
    width: 80%;
    height: 80%;
    gap: 2rem;
    border: 2px solid;
}

.form-cover>form {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    gap: 0.5rem;
}

.form-cover>form>button {
    padding: 0.8rem 0;
    margin: 0 2rem;
    border: none;
    border-radius: 0.6rem;
    font-size: 1rem;
    background-color: var(--submit-btn);
    cursor: pointer;

    &:hover {
        background-color: var(--submit-btn-hover);
    }
}

.form-cover>.form-demo {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.demo-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.demo-card > img {
    height: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    box-shadow: 0.2rem 0.2rem 0.4rem var(--box-shadow);
    border-radius: 0.4rem;
}

.demo-card > h2 {
    margin: 0 1rem;
    padding: 1rem 0 0.5rem 0;
}

.demo-card > p {
    margin: 0 1rem;
}

.multiple-add {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1068px) {
    .form-cover {
        flex-direction: column;
        align-items: center;
        overflow-y: auto;
    }

    .form-cover > form {
        width: 80%;
        padding: 0;
    }
    .form-cover > .form-demo {
        width: 100%;
    }
}