:root {
  --plus-color: #a484ac;
  --minus-color: #28A745;
  --plus-hover: #8e5e8b;
  --minus-hover: #1f7c39;
  --sub-button: #e3bc9a;
  --sub-button-hover: #d39c6b;
}

body {
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 90%;
}